# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
npm-debug.log
.jshintrc

.idea/codeStyleSettings.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/misc.xml
.idea/new_friendrop.iml
.idea/vcs.xml